* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'centurygothic';
  src: url(/Login/fonts/CenturyGothic.woff);
}

/* Кнопка для открытия модального окна */
.open-modal-btn {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  background: #00867e;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'CenturyGothic';
}

.open-modal-btn:hover {
  background: #00867e;
}
.efir{
  margin-top: 10px;
  margin-right: 600px;

}
.efir_submitt{
  margin-top: 10px;
  padding: 10px;
  background-color: #00867e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
button {
  width: 200px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #009688;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
  
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.lesson-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: self-start;
  margin-bottom: 10px;
}
.lesson {
  padding: 15px;
  background: #e0f7fa;
  border-radius: 10px;
  cursor: default;
  width: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lesson.available {
  cursor: pointer;
  background-color: #b2ebf2;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.lesson.locked {
  background-color: #d0dfe5;
  color: #888;
}

.lesson-content {
  display: none;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.close-btn {
  background: none;
  border: none;
  color: #007aff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  margin-top: 15px;
}

.tab {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background: #eee;
  border: 1px solid #ccc;
}

.tab.active {
  background: #007aff;
  color: white;
}

.tab-content {
  margin-top: 15px;
}

